# Maven
target/
*.class
*.jar
*.war

# Node
node_modules/
build/
.env.local
.env.production

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Docker
.dockerignore
